*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;
}
.box{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5s;
}
.box:hover{
    height: 345px;
}
.img .imgbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.box .imgbox img{
    width: 100%;
    opacity: 0.1;
    transition: 0.5s;
    padding: 8px;
}
.box:nth-child(3) .imgbox img{
    height: 300px;
    width: 298px;
}
.box:hover .imgbox img{
    opacity: 1;
    margin: 0px 0 40px 0px;
}
.box::before{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box::after{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box::before,
.box::after{
    background: linear-gradient(235deg, #6f00ff, #5fd400);
}
.box:nth-child(2)::before,
.box:nth-child(2)::after{
    background: linear-gradient(235deg, #00eeff, #d41900);
}
.box:nth-child(2)::before,
.box:nth-child(2)::after{
    background: linear-gradient(235deg, #ff00c8, #f9fd08);
}
.box .content{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    width: 283px;
}
.box:hover .content{
    opacity: 1;
}
.box .content h2{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}
.box .content h2 span{
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
}